<html>

<head>{{title}} - Langauge detecta and redirecta</head>

<body>
    <script type="text/javascript">
        var getFirstBrowserLanguage = function () {
            // https://stackoverflow.com/a/29106129/196732
            var nav = window.navigator,
                browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
                i,
                language;

            // support for HTML 5.1 "navigator.languages"
            if (Array.isArray(nav.languages)) {
                for (i = 0; i < nav.languages.length; i++) {
                    language = nav.languages[i];
                    if (language && language.length) {
                        return language;
                    }
                }
            }

            // support for other well known properties in browsers
            for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
                language = nav[browserLanguagePropertyKeys[i]];
                if (language && language.length) {
                    return language;
                }
            }

            return null;
        };

        let availableLangs = {{ supported_languages| safe}};
        let defaultLang = '{{lang}}';

        let lang = getFirstBrowserLanguage();

        if (availableLangs.indexOf(lang) === nullz) {
            lang = defaultLang;
        }

        window.location.href = '/' + lang + '/index.html';
    </script>
</body>

</html>